 {% include "header.html" %}

	<!-- end #menu -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="page-content">
					<div id="content">
						<div class="post">

                            <form method="post" action="/admindashboard/">
								{% csrf_token %}
                                    <h2 class="title"><a href="#">Login Panel</a></h2>
                                    <hr color="red">
                                    Enter Username : <input type="text" name="txtUsername" placeholder="Enter Username" autocomplete="off" required/>
                                    <br><br>
                                    Enter Password : <input type="password" name="txtPassword" placeholder="Enter Password" required/>
                                    <br><br>
                                    <input type="submit" name="btnLogin" value="Login" autocomplete="off">
                            </form>

                        </div>
						<div style="clear: both;">&nbsp;</div>
                </div>
					<!-- end #content -->
					<div id="sidebar">
						<ul>
							<li>
								<h2>Aliquam tempus</h2>
								<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
							</li>
							<li>
								<h2>Categories</h2>
								<ul>
									<li><a href="#">Aliquam libero</a></li>
									<li><a href="#">Consectetuer adipiscing elit</a></li>
									<li><a href="#">Metus aliquam pellentesque</a></li>
									<li><a href="#">Suspendisse iaculis mauris</a></li>
									<li><a href="#">Urnanet non molestie semper</a></li>
									<li><a href="#">Proin gravida orci porttitor</a></li>
								</ul>
							</li>
							<li>
								<h2>Blogroll</h2>
								<ul>
									<li><a href="#">Aliquam libero</a></li>
									<li><a href="#">Consectetuer adipiscing elit</a></li>
									<li><a href="#">Metus aliquam pellentesque</a></li>
									<li><a href="#">Suspendisse iaculis mauris</a></li>
									<li><a href="#">Urnanet non molestie semper</a></li>
									<li><a href="#">Proin gravida orci porttitor</a></li>
								</ul>
							</li>

						</ul>
					</div>
					<!-- end #sidebar -->
				</div>
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
{% include "footer.html" %}