{% include "header.html" %}

	<!-- end #menu -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="page-content">
					<div id="content">
						<div class="post">
							<center>
									<h2 class="title"><a href="#">Registration Form </a></h2> <br>

									<form>

											Name : <input type="text" id="txtName" class="form-control"><br>
											Mobile :<input type="text" id="txtMobile" class="form-control"><br>
											Email ID :<input type="text" id="txtEmail" class="form-control"><br>
											Address :<input type="text" id="txtAddress" class="form-control"><br>
											City:<input type="text" id="txtCity" class="form-control"><br>
											Designation :<input type="text" id="txtDesignation" class="form-control"><br>
											Salary :<input type="text" id="txtSalary" class="form-control"><br><br>

											<input type="submit" value="Registration" class="btn btn-success"/>
									</form>
							</center>


                        </div>

						<div style="clear: both;">&nbsp;</div>
                </div>
					<!-- end #content -->
					<div id="sidebar">
						<ul>
							<li>
								<h2>Aliquam tempus</h2>
								<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
							</li>
							<li>
								<h2>Categories</h2>
								<ul>
									<li><a href="#">Aliquam libero</a></li>
									<li><a href="#">Consectetuer adipiscing elit</a></li>
									<li><a href="#">Metus aliquam pellentesque</a></li>
									<li><a href="#">Suspendisse iaculis mauris</a></li>
									<li><a href="#">Urnanet non molestie semper</a></li>
									<li><a href="#">Proin gravida orci porttitor</a></li>
								</ul>
							</li>
							<li>
								<h2>Blogroll</h2>
								<ul>
									<li><a href="#">Aliquam libero</a></li>
									<li><a href="#">Consectetuer adipiscing elit</a></li>
									<li><a href="#">Metus aliquam pellentesque</a></li>
									<li><a href="#">Suspendisse iaculis mauris</a></li>
									<li><a href="#">Urnanet non molestie semper</a></li>
									<li><a href="#">Proin gravida orci porttitor</a></li>
								</ul>
							</li>
							
						</ul>
					</div>
					<!-- end #sidebar -->
				</div>
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
{% include "footer.html" %}